@page "/AmlManagement"
@using Microsoft.Extensions.Localization
@using global::AmlManagement.Localization
@inject IStringLocalizer<AmlManagementResource> L
@{
}
<h1>AmlManagement</h1>
<p>@L["SamplePageMessage"]</p>